@charset "UTF-8";
@import url(../fonts/pt-sans.woff);

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/* Menu */
#header {
	height: 30px;
	padding: 0px;
	margin: 0px;
	position: fixed;
	width: 100%;
	z-index: 99999999;
	background-color: #4B4B4B;
	border-bottom: 0.15em solid #E48414;
	color: #D8D8D8;
	font-weight: bold;
}

#header a {
	color: #E48414;
	text-decoration: none;
	font-weight: bold;
}

#header ul {
	list-style: none;
	margin: 7px 0px;
	padding: 0px;
}

#header li {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
}

#pusher-top{
	height: 30px;
}

#logo {
	float: right;
	margin-right: 10px;
	display: inline-block;
	padding: 5px 0px;
}

#logo img {
	width: 200px;
}

#content {
	clear:both;
	display: block;
	padding: 20px 40px;
}

#admin-menu {
	float: left;
}
#logout-menu{
	float: right;
}

h1 {
	color: #993A03;
	margin: 0px;
}

h2 {
	display: inline;
}

body {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: #777;
	background: url('../img/texture.png') repeat;
}

#pusher-bottom {
	height: 30px; /* value "A" */
}

#wrapper {
	min-height: 100%;
}

#footer {
	height: 30px; /* should be value "A" */
	width:100%;
	margin:0px;
	margin-top: -32px; /* should be value "A" negated */
	clear:both;
	text-align: center;
	background: #4B4B4B;
	border-top: 0.15em solid #E48414; 
	color:#D8D8D8;
	font-size:15px;
	text-align:center;
	font-weight: bold;
	line-height:28px;
}


/*********************************************************************************************
****************************************** BUTTONS *******************************************
*********************************************************************************************/
.btn, .integrateNowBtn {
	display: inline-block;

	padding: 0.5em 1.5em;
	vertical-align: top;

	background-color: #5c7294;
	background: linear-gradient(top, #455772, #5c7294);
	background: -khtml-linear-gradient(top, #455772, #5c7294);
	background: -moz-linear-gradient(top, #455772, #5c7294);
	background: -ms-linear-gradient(top, #455772, #5c7294);
	background: -o-linear-gradient(top, #455772, #5c7294);
	background: -webkit-linear-gradient(top, #455772, #5c7294);
	
	border-style: none;
	
	color: white;
	font-weight: bold;
	font-family: Arial;
	font-size: 18px;
	text-shadow: #000 0.1em 0.1em;
	text-decoration:none;

	border-radius: 0.2em;
	
	cursor: pointer;

	transition: background 0.3s;
	-khtml-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	-webkit-transition: background 0.3s;

	transition: box-shadow 0.3s;
	-khtml-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	-webkit-transition: box-shadow 0.3s;
}
.btn:hover, .integrateNowBtn:hover {
	background: #5c7294;
	transition: background 0.3s;
	-khtml-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	-webkit-transition: background 0.3s;
	box-shadow: 0em 0em 0.5em 0px #4675BE;
	transition: box-shadow 0.3s;
	-khtml-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	-webkit-transition: box-shadow 0.3s;
}
.btn[disabled], .btn[disabled]:hover{
	color: #666;
	background-color: #C5C5C5;
	background: linear-gradient(top, #9E9E9E, #EBEBEB);
	background: -khtml-linear-gradient(top, #9E9E9E, #EBEBEB);
	background: -moz-linear-gradient(top, #9E9E9E, #EBEBEB);
	background: -ms-linear-gradient(top, #9E9E9E, #EBEBEB);
	background: -o-linear-gradient(top, #9E9E9E, #EBEBEB);
	background: -webkit-linear-gradient(top, #9E9E9E, #EBEBEB);
	text-shadow: #FFF 0.1em 0.1em;
	cursor:default;
	box-shadow: none;
}
A.btn {
	margin-left:2px;
	margin-top: 2px;
}


/*********************************************************************************************
****************************************** Forms *********************************************
*********************************************************************************************/

.accepted::after {
content: url('../img/check-ok.png');
}

.failed::after {
content: url('../img/check-no.png');
}


/*********************************************************************************************
****************************************** Sites *********************************************
*********************************************************************************************/

.site {
	margin: 30px 0px;
}

A.removeLink {
	font-size: 0.8em;
	margin: 4px 15px;
	padding: 4px 12px;
}

.unintegrated-warning {
	color: red;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	margin: 40px 0px 10px;
}

#error-log {
	color: red;
	font-weight: bold;
}

/*********************************************************************************************
****************************************** Add Site ******************************************
*********************************************************************************************/

.blog-option {
	margin: 30px 0px;
}

#url-field {
	margin: 30px 0px;
}

.option-image{
	margin-left: 10px;
}

#url-label {
	margin-right: 10px;
}

#download-plugin {
font-size: 0.9em;
margin: 0px 10px 0px 0px;
padding: 4px 12px;
}

.instructions {
	margin: 20px 0px;
}

.instructions li {
	margin: 20px 0px;
}

#loading {
	display: inline-block;
	margin-left: 20px;
}
#integration-errors {
	font-weight: bold;
	color: #F00;
}

/**********************************************************/
.main-menu {
	list-style-type: none;
}
.main-menu-option {
	display: inline-block;
	width: 180px;
	height: 180px;
	border-radius: 5px;

	background-color: #5c7294;
	background: linear-gradient(top, #455772, #5c7294);
	background: -khtml-linear-gradient(top, #455772, #5c7294);
	background: -moz-linear-gradient(top, #455772, #5c7294);
	background: -ms-linear-gradient(top, #455772, #5c7294);
	background: -o-linear-gradient(top, #455772, #5c7294);
	background: -webkit-linear-gradient(top, #455772, #5c7294);
	
	border-style: none;
	
	color: white;
	font-weight: bold;
	font-family: Arial;
	font-size: 18px;
	text-shadow: #000 0.1em 0.1em;
	text-decoration:none;

	text-align: center;
	transition: background 0.3s;
	-khtml-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	-webkit-transition: background 0.3s;

	transition: box-shadow 0.3s;
	-khtml-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	-webkit-transition: box-shadow 0.3s;
}
.main-menu-option:hover {
	background: #5c7294;
	transition: background 0.3s;
	-khtml-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	-webkit-transition: background 0.3s;
	box-shadow: 0em 0em 0.5em 0px #4675BE;
	transition: box-shadow 0.3s;
	-khtml-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	-webkit-transition: box-shadow 0.3s;
}
.main-menu a {
	color: white;
	text-decoration: none;
	display: block;
}
.main-menu li {
	display: inline-block;
	margin: 10px;
	vertical-align: bottom;
}
/**********************************************************/
.tools a.btn img {
	width: 32px;
	vertical-align: middle;
}
.tools a.btn {
	line-height: 35px;
}
.tools {
	margin: 20px;
}
.results {
	margin-top: 50px;
}
/**********************************************************/
label {
	display: block;
	margin: 5px;
}
label span:first-child {
	display: inline-block;
	width: 180px;
	text-align: right;
}
label span {
	margin-right: 2px;
	margin-left: 5px;
}
.detail {
	margin: 50px 10px 10px 15px;
}
.save {
	padding-left: 150px;
	margin-top: 25px;
}
.error {
	display: block;
	padding-left: 150px;
	margin: 0px;
	color: red;
	font-weight: bold;
}

textarea {
	border-color: gray;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

/********************************************************************/
.data {
	border-collapse: collapse;
	border: #333 1px solid;
}
.data th, .data td {
	border: none;
	border-collapse: collapse;
	border-left: solid 1px #CCC;
}
.data th {
	color: black;
	border-bottom: solid 1px black;
	border-collapse: collapse;
}

.data tr > th:first-child, .data tr > td:first-child {
	border-left: none;
}

.highlight tr:hover {
	background-color: lightgray;
}

.wrong {
	color: red;
}
.ok {
	color: green;
}


/*****************************************************************/
.productos-wrapper span {
	width: auto;
}
.productos-wrapper li:hover {
	background-color: lightgray;
}

/****************************************************************/
.faltante {
	background-color: red;
	color: black;
}
.bajo-stock {
	background-color: yellow;
	color: black;
}


/*****************************************************************/
#reportes-selectors {
	margin-top: 2em;
}
#reportes-selectors label {
	display: inline-block;
}
div.form-control {
	display: inline-block;
	margin: 0 1em;
}
#reporte {
	display: none;
}
#loading-wrapper {
	width: 100%;
	max-width: 800px;
	height: 250px;
}
#loading-wrapper img {
	margin: 200px 0 0 50%;
}